@import "../../index.scss";
.btn-text {
    color: $secondary-color;
    border: none;
    background-color: transparent;
    z-index: 1000;
    font-weight: bold;
}

.btn-contained {
    color: white;
    background-color: $secondary-color;
    border: none;
    z-index: 1000;
    padding: 10px;
    font-weight: 600;

    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 13.3333px;
}

.nav-active {
    border-left: 3px solid #39cdcc;
    background-color: rgba(57, 205, 204, 0.1);
}

.nav-item:hover {
    border-left: 3px solid #39cdcc;
    background-color: rgba(57, 205, 204, 0.1);
}
