@use "sass:string";
@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "AvenirNext";
    src: url("/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
        url("/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("/fonts/AvenirNextLTPro-It.woff2") format("woff2");
    font-weight: normal;
}

p {
    margin: unset;
}

$primary-color: #213f7d;
$secondary-color: #39cdcc;
$terriary-color: rgb(84, 95, 125);

:root {
    font-family: "AvenirNext";
    font-weight: 100;
}

.primary-color {
    color: $primary-color !important;
}

.secondary-color {
    color: $secondary-color !important;
}

.primary-bg-color {
    color: $primary-color !important;
}

.secondary-bg-color {
    color: $secondary-color !important;
}

.terriary-color {
    color: $terriary-color !important;
}

body {
    font-family: "AvenirNext";
    font-size: 12px;
    font-weight: 400;
    color: $primary-color;
    // background-color: ;
}

.title {
    font-size: 40px;
    font-weight: bolder;
    color: #213f7d;
}

.f-work-sans{
    font-family: "Work Sans";
}

.page-title {
    font-weight: bold;
    font-size: 24px;
}

.f-16 {
    font-size: 16px;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}
.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}
.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-baseline {
    align-items: baseline;
}

@each $i in (1 2 3 4 5 6 7 8 9 10 11 12) {
    .m-#{$i} {
        margin: #{$i}rem;
    }
    .min-#{$i} {
        margin-inline: #{$i}rem;
    }
    .mbl-#{$i} {
        margin-block: #{$i}rem;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}rem;
    }
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }
    .mr-#{$i} {
        margin-right: #{$i}rem;
    }
    .ml-#{$i} {
        margin-left: #{$i}rem;
    }
    .p-#{$i} {
        padding: #{$i}rem;
    }

    .mb-#{$i} {
        padding-bottom: #{$i}rem;
    }
    .pt-#{$i} {
        padding-top: #{$i}rem;
    }
    .pr-#{$i} {
        padding-right: #{$i}rem;
    }
    .pl-#{$i} {
        padding-left: #{$i}rem;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}rem;
    }
    .pin-#{$i} {
        padding-inline: #{$i}rem;
    }
    .pbl-#{$i} {
        padding-block: #{$i}rem;
    }
    .br-#{$i} {
        border-radius: #{$i}rem;
    }
    .flex-#{$i} {
        flex: $i;
    }
}

@each $i in (0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100) {
}

@each $i in (0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100) {
    .t-#{$i} {
        top: #{$i}#{"%"};
    }
    .b-#{$i} {
        bottom: #{$i}#{"%"};
    }
    .l-#{$i} {
        left: #{$i}#{"%"};
    }
    .r-#{$i} {
        right: #{$i}#{"%"};
    }
    .w-#{$i} {
        width: #{$i}#{"%"};
    }
    .h-#{$i} {
        height: #{$i}#{"%"};
    }
    .gap-#{$i} {
        gap: #{$i}#{"%"};
    }
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.inline-block {
    display: inline-block;
}

.h-fit {
    height: fit-content;
}

.w-fit {
    width: fit-content;
}

.b-danger {
    border: 2px solid salmon !important;
}

.bg-white {
    background-color: white;
}
.shadow-gray {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.bg-black {
    background-color: rgb(27, 27, 27);
}

.white {
    color: white;
}

.vp-h {
    height: 100vh;
}

.vp-w {
    width: 100vw;
}

.scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        opacity: 0;
        width: 8px;
        display: none;
    }

    /* Show the scrollbar on hover */
    &:hover::-webkit-scrollbar {
        opacity: 1;
        height: 1px;
        transition: opacity display;
        display: block;
    }

    /* Track style */
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    /* Thumb style */
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        opacity: 0;
    }

    /* Thumb on hover */
    &:hover::-webkit-scrollbar-thumb {
        background-color: #555;
        transition: background-color #555;
    }
}
.scroll-y {
    overflow-y: scroll;
    overflow-x: hidden;
    /* Hide the scrollbar by default */
    &::-webkit-scrollbar {
        opacity: 0;
        width: 8px;
        display: none;
    }

    /* Show the scrollbar on hover */
    &:hover::-webkit-scrollbar {
        opacity: 1;
        transition: opacity display;
        display: block;
    }

    /* Track style */
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    /* Thumb style */
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        opacity: 0;
    }

    /* Thumb on hover */
    &:hover::-webkit-scrollbar-thumb {
        background-color: #555;
        transition: background-color #555;
    }
}

.rounded-full {
    border-radius: 10rem;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.d-none {
    display: none;
}

.divider {
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 100%;
}

.divider-right {
    background-color: rgba(0, 0, 0, 0.1);
    width: 1px;
    height: 10em;
}

.inactive {
    color: $primary-color !important;
    font-weight: 200;
    padding: 10px;
    background-color: rgba(#545f7d, 0.1) !important;
}

.pending {
    color: #e9b200 !important;
    font-weight: 400;
    padding: 10px;
    background-color: rgba(#e9b200, 0.05) !important;
}

.blacklisted {
    color: #e4033b !important;
    font-weight: 400;
    padding: 10px;
    background-color: rgba(#e4033b, 0.05) !important;
}

.active {
    color: #39cd62 !important;
    font-weight: 400;
    padding: 10px;
    background-color: rgba(#39cd62, 0.05) !important;
}

.br-color-active {
    border: #39cd62 solid 1px !important;
}

.br-color-secondary {
    border: $secondary-color solid 1px !important;
}

.br-color-blacklisted {
    border: #e4033b  solid 1px !important;
}

.color-active {
    color: #39cd62 !important;
}


.color-blacklisted {
    color: #e4033b  !important;
}

